html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

a {
    cursor: pointer;
}

.main {
    flex-grow: 1;
}

.container {
    padding: 0 20px;
    max-width: 1220px;
    margin: 0 auto;
    position: relative;
}