.inner{
    padding: 41px 0 50px;
    .items{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-gap: 20px;
        .item{
            padding: 34px 40px 50px;
            text-align: center;
            border-radius: 20px;
            display: block;
            box-shadow: 0px 0px 9px 1px rgba(40, 151, 236, 0.21);
            img{
                margin: auto;
                margin-bottom: 36px;
            }
            .title{
                font-size: 24px;
                line-height: 26px;
            }
            .text{
                margin-top: 41px;
                margin-bottom: 49px;
                font-weight: 400;
            }

            
        }
        .blue{
            background-color: #C5DDFF;
            grid-column: span 4;
            grid-row: span 2;
        }
        .green{
            grid-column: span 3;
            background-color: #B8EFCF;
        }
        .pink{
            grid-column: span 3;
            background-color: #FFEEF6;
        }
        .yellow{
            grid-column: span 6;
            padding: 50px;
            background-color: #FFE38E;
            display: flex;
            text-align: left;
            justify-content: space-between;
            img{
                margin: 0;
            }
            .content{
                max-width: 450px;
                .text{
                    margin: 30px 0 0;
                }
            }
        }
    }
}