.inner{
    padding: 85px 0 390px;
    .items{
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        .item{
            max-width: 240px;
            width: 100%;
            .img{
                margin-bottom: 30px;
            }
            .text{
                color: 18px;
            }
        }
    }
}