.inner{
    margin-bottom: 24px;

    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #e0e0e0;
    .item{
        align-items: end;
        display: flex;
        padding: 0 35px 15px;
        cursor: pointer;
        border-bottom: 4px solid #f0efef;
        &:first-child{
            padding-left: 30px;
        }
        &:last-child{
            padding-right: 110px;
        }
        .img{
            margin-right: 17px;
        }
        .title{
            font-weight: 700;
            margin-bottom: 2px;
        }
        .age{
            display: block;
            font-size: 14px;
            font-weight: 400;
            color: #4f4f4f;
        }
    }
    .active{
        border-bottom: 4px solid #27AAE1;
    }
}