.box{
    padding: 40px;
    box-shadow: 0px 0px 9px 1px rgba(40, 151, 236, 0.21);
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 270px;
    max-width: 1180px;
    width: 100%;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    .sova{
        position: absolute;
        top: 8%;
        left: -3%;
    }
    .text_box{
        max-width: 390px;
        width: 100%;
        background: url('../helpForm/border.svg') no-repeat;
        background-position: center center;
        background-size: contain;
        margin-bottom: 11px;
        padding: 30px;
        padding-left: 55px;
        .title{
            font-weight: 600;
            display: block;
            font-size: 24px;
            margin-bottom: 20px;
        }
    }
    .form{
        grid-gap: 20px;
        max-width: 440px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        input{
            border-radius: 10px;
            padding: 16px 20px;
            max-width: 210px;
            width: 100%;
            border: none;
            background-color: #f0efef;
            &::placeholder{
                color: #4F4F4F;
                font-weight: 400;
                font-size: 14px;
            }
            &:target{
                font-weight: 400;
                font-size: 14px;
            }
        }
        .input_name{
            max-width: 440px;
            width: 100%;
        }
        .text{
            font-size: 10px;
            font-weight: 400;
            color: #4F4F4F;
            max-width: 210px;
            width: 100%;
        }
        .button{
            color: #fff;
            border-radius: 10px;
            background-color: #F7941D;
            padding: 12px 20px;
            max-width: 210px;
            width: 100%;
            border: none;
            cursor: pointer;
        }
    }
}