.inner {
    padding: 60px 0;
    text-align: center;
    background-color: #00093C;
    height: 600px;
    width: 100%;
    position: relative;
    img{
        position: absolute;
        z-index: 0;
    }
    .cross{
        top: 8%;
        left: 14%;
    }
    .triangle{
        left: 48%;
        top: 70%;
    }
    .right_line{
        left: 68%;
        top: -4%;
    }
    .circle{
        top: 70%;
        left: 80%;
    }
    .left_line{
        top: 58%;
        left: 8%;
    }
}