.inner{
    display: flex;
    grid-gap: 20px;
    flex-wrap: wrap;
    .item{
        padding: 28px 28px 40px;
        position: relative;
        max-width: 430px;
        border-radius: 20px;
        box-shadow: 0px 0px 9px 1px rgba(40, 151, 236, 0.21);
        transition: all 0.2s linear;
        &:hover{
            box-shadow: 0px 6px 8px 8px rgba(40, 151, 236, 0.21);
        }
        .pretitle{
            margin-bottom: 16px;
            font-weight: 400;
            font-size: 12px;
            color: #4f4f4f;
        }
        .title_inner{
            display: flex;
            margin-bottom: 12px;
            img{
                margin-right: 10px;
            }
            .title{
                color: #00093c;
                font-size: 18px;
            }
        }
        .text{
            font-size: 12px;
            color: #4f4f4f;
            font-weight: 400;
            margin-bottom: 26px;
        }
        .duration{
            font-weight: 400;
            font-size: 12px;
        }
        .sale{
            color: #fff;
            background-color: #F11212;
            border-radius: 20px;
            padding: 6px 10px;
            position: absolute;
            right: -2%;
            bottom: 5%;
        }
        .link{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            cursor: pointer;
        }
    }
}