.inner{
    max-width: 260px;
    width: 100%;
    .text{
        padding: 20px 20px 35px;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        border: 2px solid #27AAE1;
        border-radius: 20px;
        // border-image-source: linear-gradient(90deg, #F7941D 0%, #27AAE1 100%);
        // -webkit-mask: linear-gradient(#F7941D 0 0) padding-box, linear-gradient(#F7941D 0 0);
        z-index: 1;
        position: relative;
        background-color: white;
        div{
            &:not(:last-child){
                margin-bottom: 30px;
            }
        }
        
        .top_text{
            font-weight: 700;
        }
        .mid_text{
            line-height: 24px;
        }
    }
    .img{
        position: relative;
        margin-left: -15%;
        margin-top: -10%;
        z-index: 2;
        
    }
}
.bigSize{
    max-width: 350px;
}